In [2]:

#print ("DataSearch2")
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

df = pd.read_csv ('member_sample.csv', index_col = 0)
#Shape is (21344, 112)
#df.shape
df.head ()

,Individual Key,Household Key,Member Flag,City,State - Grouped,ZIP5,ZIP9,FSV CMSI Flag,FSV Credit Card Flag,FSV Deposit Program Flag,...,SC Vehicle Manufacturer Name,SC Vehicle Model Name,SVC Facility Name,SVC Facility Type,Total Cost,Tow Destination Latitude,Tow Destination Longitude,Tow Destination Name,Was Duplicated,Was Towed To AAR Referral
0,10000003.0,10462590.0,Y,NEW HAVEN,CT,6511.0,65111349.0,N,N,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,52211550.0,4500791.0,Y,WEST WARWICK,RI,2893.0,28933850.0,N,Y,N,...,TOYOTA,CAMRY,ASTRO WRECKER SERVICE,independent repair,32.5,41.0,-71.0,Aar / Johnson's Auto Service,0.0,1.0
2,52211550.0,4500791.0,Y,WEST WARWICK,RI,2893.0,28933850.0,N,Y,N,...,TOYOTA,CAMRY,Astro Wrecker Service,independent repair,30.0,0.0,0.0,NaN,0.0,0.0
3,52211550.0,4500791.0,Y,WEST WARWICK,RI,2893.0,28933850.0,N,Y,N,...,TOYOTA,CAMRY,ASTRO WRECKER SERVICE,independent repair,32.5,0.0,0.0,NaN,0.0,0.0
4,52211550.0,4500791.0,Y,WEST WARWICK,RI,2893.0,28933850.0,N,Y,N,...,TOYOTA,CAMRY,ASTRO WRECKER SERVICE,independent repair,30.0,0.0,0.0,NaN,0.0,0.0

In [3]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Individual Key,21344.0,3.358534e+07,5.113419e+07,1.729300e+04,8784029.0,18537395.0,28217611.00,2.123219e+08
Household Key,21344.0,1.597040e+07,2.138079e+07,8.750000e+02,4350387.0,9811235.0,16540121.00,1.000791e+08
ZIP5,21344.0,2.944900e+03,4.787577e+02,2.801000e+03,2857.0,2888.0,2910.00,6.902000e+03
ZIP9,21344.0,2.945248e+07,4.787472e+06,2.801008e+07,28570641.0,28882477.5,29101748.00,6.902102e+07
Length Of Residence,12010.0,1.152498e+01,5.495280e+00,0.000000e+00,8.0,15.0,15.00,4.900000e+01
Do Not Direct Mail Solicit,21343.0,5.285105e-02,2.237413e-01,0.000000e+00,0.0,0.0,0.00,1.000000e+00
Email Available,21343.0,5.361008e-01,4.987067e-01,0.000000e+00,0.0,1.0,1.00,1.000000e+00
ERS ENT Count Year 1,16675.0,5.185607e-01,9.855318e-01,0.000000e+00,0.0,0.0,1.00,7.000000e+00
ERS ENT Count Year 2,16675.0,9.362519e-01,1.253213e+00,0.000000e+00,0.0,0.0,2.00,1.000000e+01
ERS ENT Count Year 3,16675.0,9.597601e-01,1.322932e+00,0.000000e+00,0.0,0.0,1.00,9.000000e+00
ERS Member Cost Year 1,16675.0,2.806817e+01,5.757698e+01,0.000000e+00,0.0,0.0,36.00,5.607400e+02
ERS Member Cost Year 2,16675.0,5.097063e+01,7.821354e+01,0.000000e+00,0.0,0.0,66.75,9.043900e+02
ERS Member Cost Year 3,16675.0,4.951812e+01,7.396594e+01,0.000000e+00,0.0,0.0,65.39,6.040000e+02
Right_Individual Key,21343.0,3.358644e+07,5.113513e+07,1.729300e+04,8784029.0,18537395.0,28217653.00,2.123219e+08
Member Key,21343.0,2.521610e+06,2.626375e+06,1.150000e+02,1506908.5,1524446.0,2504825.00,1.592920e+07
Member Number Associate ID,21343.0,1.153178e+07,1.235388e+07,1.530000e+04,1954124.0,5936800.0,19409100.00,5.436950e+07
Member Tenure Years,21343.0,3.295624e+01,1.792812e+01,0.000000e+00,15.0,35.0,48.00,9.800000e+01
Membership ID,21343.0,1.153177e+05,1.235388e+05,1.530000e+02,19541.0,59368.0,194091.00,5.436950e+05
Months from Join to Cancel,8177.0,2.961616e+02,2.321941e+02,0.000000e+00,72.0,264.0,516.00,1.109000e+03
ZIP,21343.0,2.980749e+03,1.653139e+03,1.522000e+03,2852.0,2888.0,2910.00,9.863200e+04
Basic Cost,13944.0,4.262959e+01,1.571399e+01,0.000000e+00,30.0,53.0,53.00,1.063900e+02
Calculated Tow Miles,13861.0,2.379071e+00,7.030493e+00,0.000000e+00,0.0,0.0,1.00,1.420000e+02
Dispatch Code2Description,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Is Duplicate,13997.0,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.00,0.000000e+00
Is NSR,13997.0,5.915553e-02,2.359240e-01,0.000000e+00,0.0,0.0,0.00,1.000000e+00
Member Match Flag,13997.0,1.000000e+00,0.000000e+00,1.000000e+00,1.0,1.0,1.00,1.000000e+00
Member Number and Associate ID,13997.0,1.090849e+07,1.197440e+07,1.530000e+04,1865721.0,5772700.0,19264520.00,5.436950e+07
Plus Cost,13944.0,3.450947e+00,1.821348e+01,0.000000e+00,0.0,0.0,0.00,5.300000e+02
Premier Cost,13911.0,6.901014e-03,6.928482e-01,0.000000e+00,0.0,0.0,0.00,8.100000e+01
Rec ID,13997.0,7.568128e+06,6.350530e+06,1.100000e+02,2771811.0,5228220.0,10307968.00,2.045938e+07
Total Cost,13944.0,4.727370e+01,8.686911e+01,0.000000e+00,30.5,53.0,53.00,9.869000e+03
Tow Destination Latitude,11813.0,1.512045e+01,1.986136e+01,0.000000e+00,0.0,0.0,41.00,4.300000e+01
Tow Destination Longitude,11813.0,-2.610489e+01,3.428865e+01,-7.548869e+01,-71.0,0.0,0.00,0.000000e+00
Was Duplicated,13997.0,6.515682e-02,2.468112e-01,0.000000e+00,0.0,0.0,0.00,1.000000e+00
Was Towed To AAR Referral,13997.0,1.364578e-02,1.160195e-01,0.000000e+00,0.0,0.0,0.00,1.000000e+00

In [4]:
# Fleet Indicator removal
#Total number of rows is 21344, total count is 13853
#Number of missing values is 7491, number of valid values is 
#df ['Fleet Indicator'].isnull().count()
#
df [['Fleet Indicator', 'Total Cost', 'ZIP5']].count()

Fleet Indicator    13853
Total Cost         13944
ZIP5               21344
dtype: int64

In [5]:
def missing_values_table(df):
    # Total missing values
    mis_val = df.isnull().sum()
    
    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    
    # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    
    # Rename the columns
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    
    # Sort the table by percentage of missing descending
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    
    # Print some summary information
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
            " columns that have missing values.")
    
    # Return the dataframe with missing information
    return mis_val_table_ren_columns

In [13]:
def kmeans_amoi ():

    """Perform K-Means clustering on data with missing values.
â€‹
    Args:
      X: An [n_samples, n_features] array of data to cluster.
      n_clusters: Number of clusters to form.
      max_iter: Maximum number of EM iterations to perform.
â€‹
    Returns:
      labels: An [n_samples] vector of integer labels.
      centroids: An [n_clusters, n_features] array of cluster centroids.
      X_hat: Copy of X with the missing values filled in.
    #"""
    #def kmeans_missing(X, n_clusters, max_iter=10): 
    #from sklearn.cluster import KMeans   
    # Initialize missing values to their column means
    missing = ~np.isfinite(X)
    mu = np.nanmean(X, 0, keepdims=1)
    X_hat = np.where(missing, mu, X)
â€‹
    for i in xrange(max_iter):
        if i > 0:
            # initialize KMeans with the previous set of centroids. this is much
            # faster and makes it easier to check convergence (since labels
            # won't be permuted on every iteration), but might be more prone to
            # getting stuck in local minima.
            cls = KMeans(n_clusters, init=prev_centroids)
        else:
            # do multiple random initializations in parallel
            cls = KMeans(n_clusters, n_jobs=-1)
â€‹
        # perform clustering on the filled-in data
        labels = cls.fit_predict(X_hat)
        centroids = cls.cluster_centers_
â€‹
        # fill in the missing values based on their cluster centroids
        X_hat[missing] = centroids[labels][missing]
â€‹
        # when the labels have stopped changing then we have converged
        if i > 0 and np.all(labels == prev_labels):
            break
â€‹
        prev_labels = labels
        prev_centroids = cls.cluster_centers_
â€‹
    return labels, centroids, X_hat
"""

SyntaxError: invalid character in identifier (<ipython-input-13-0e2535de15c9>, line 21)

In [7]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_digits
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.cluster import KMeans
from sklearn.metrics import accuracy_score

class clust():
    def _load_data(self, sklearn_load_ds):
        data = sklearn_load_ds
        X = pd.DataFrame(data.data)
        self.X_train, self.X_test, self.y_train, self.y_test = train_test_split(X, data.target, test_size=0.3, random_state=42)
        
        
    def __init__(self, sklearn_load_ds):
        self._load_data(sklearn_load_ds)
    
    
    def classify(self, model=LogisticRegression(random_state=42)):
        model.fit(self.X_train, self.y_train)
        y_pred = model.predict(self.X_test)
        print('Accuracy: {}'.format(accuracy_score(self.y_test, y_pred)))


    def Kmeans(self, output='add'):
        n_clusters = len(np.unique(self.y_train))
        clf = KMeans(n_clusters = n_clusters, random_state=42)
        clf.fit(self.X_train)
        y_labels_train = clf.labels_
        y_labels_test = clf.predict(self.X_test)
        if output == 'add':
            self.X_train['km_clust'] = y_labels_train
            self.X_test['km_clust'] = y_labels_test
        elif output == 'replace':
            self.X_train = y_labels_train[:, np.newaxis]
            self.X_test = y_labels_test[:, np.newaxis]
        else:
            raise ValueError('output should be either add or replace')
        return self

In [8]:
df.mean ()

Individual Key                    3.358534e+07
Household Key                     1.597040e+07
ZIP5                              2.944900e+03
ZIP9                              2.945248e+07
Length Of Residence               1.152498e+01
Do Not Direct Mail Solicit        5.285105e-02
Email Available                   5.361008e-01
ERS ENT Count Year 1              5.185607e-01
ERS ENT Count Year 2              9.362519e-01
ERS ENT Count Year 3              9.597601e-01
ERS Member Cost Year 1            2.806817e+01
ERS Member Cost Year 2            5.097063e+01
ERS Member Cost Year 3            4.951812e+01
Right_Individual Key              3.358644e+07
Member Key                        2.521610e+06
Member Number Associate ID        1.153178e+07
Member Tenure Years               3.295624e+01
Membership ID                     1.153177e+05
Months from Join to Cancel        2.961616e+02
ZIP                               2.980749e+03
Basic Cost                        4.262959e+01
Calculated Tow Miles              2.379071e+00
Dispatch Code2Description                  NaN
Is Duplicate                      0.000000e+00
Is NSR                            5.915553e-02
Member Match Flag                 1.000000e+00
Member Number and Associate ID    1.090849e+07
Plus Cost                         3.450947e+00
Premier Cost                      6.901014e-03
Rec ID                            7.568128e+06
Total Cost                        4.727370e+01
Tow Destination Latitude          1.512045e+01
Tow Destination Longitude        -2.610489e+01
Was Duplicated                    6.515682e-02
Was Towed To AAR Referral         1.364578e-02
dtype: float64

In [9]:
missing_values_table (df)

Your selected dataframe has 112 columns.
There are 97 columns that have missing values.

                           Missing Values  % of Total Values
Dispatch Code2Description           21344              100.0
Prob2 Code Description              21336              100.0
Reason Joined                       20956               98.2
Reinstate Date                      20849               97.7
Move Distance                       20703               97.0
...                                   ...                ...
Membership ID                           1                0.0
Opt-Out - Publication                   1                0.0
ZIP                                     1                0.0
New Mover Flag                          1                0.0
Renew Method                            1                0.0

[97 rows x 2 columns]